tr:nth-child(3)>td:nth-child(2)::first-letter {
    font-size: 2em;
}
tr:nth-child(3)>td:nth-child(2){
  background-color: red;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #4b8a20;
    margin: 0;
    padding: 0;
}
#contenedor {
    width: 900px;
    margin: 0 auto;
    background-color: #ffffff;
}
header img {
    width: 100%;
    height: 100px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333333;
}
nav ul li {
    display: inline-block;
    position: relative;
}
nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
}
div#contenido>aside {
    float: left;
}
nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333333;
}
nav ul li:hover ul {
    display: block;
}
nav ul li ul li a {
    padding: 10px;
}
#contenido {
    /*Que falta aquí para que el contenido se posicione igual a la imagen "Resultado"*/
    gap: 20px;
    padding: 20px;
}
main {
    flex: 3;
}
aside {
    flex: 1;
}
aside {
    background-color: #f4f4f4;
    border-left: 4px solid #3498db;
    padding: 15px;
    margin-top: 20px;
    color: #333;
  }
  
article table {
    width: 100%;
    border-collapse: collapse;
}

article table th, article table td {
    border: 1px solid #dddddd;
    padding: 8px;
}

.recomendacion {
    background-color: #e7123a;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}

form fieldset {
    border: 1px solid #dddddd;
    padding: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

footer .subir::after {
    content: " ▲";
    font-size: 12px;
}
footer {
    display: flex;
    justify-content: space-between;
    background-color: #333333;
    color: white;
    padding: 10px;
}

footer .lista {
    flex: 1;
    text-align: center;
}

footer #subir {
    color: white;
    text-decoration: none;
}

table {
    border-collapse: collapse;
  }
  
  td,
  th {
    border: 1px solid black;
  }
  
  tbody tr td:first-child {
    background-color: green;
  }
  
  a {
    text-decoration: none;
  }
  
  a:link {
    color: green;
  }
  
  a:visited {
    color: red;
  }
  
  a:hover{
    color:rgb(0, 255, 26);
  }
   
  thead tr th:hover {
    font-size: 2em;
  }

  tbody tr td:first-child:hover{
    font-size: 2em;
  }

  footer p {
    text-align: center; 
    margin-top: 40px;
    font-size: 14px;
    color: #bbb;
  }
  
  #redes li{
    display: inline;
  }