/* SELECTOR UNIVERSAL: *  */
*{
   font-family: Arial, Helvetica, sans-serif;
}




/* SELECTOR DE ID: #mi_Id */

#mi_Id{
   color: white;
   background-color: rgb(177, 4, 4);
   padding: 10px;
}

/* SELECTOR DE CLASE: .mi_clase */
.mi_clase{
   color: blue;
   background-color: aqua;
   padding: 5px;
}



/* SELECTOR DE ELEMENTO / TIPO: etiqueta (ejemplo: p) */

p{
   font-style: italic;
}


/* SELECTORES DE GRUPO: etiqueta1, etiqueta2, etiqueta3 
   (ejemplo: h1, h2, h3) */

h1,h2,h3 {
   text-decoration: underline;
}


/* SELECTOR DESCENDIENTE: selector1 selector2 
   (ejemplo: .contenedor p) */


.contenedor p{
background-color: rgb(0, 210, 0);
border: green;

}


/* SELECTOR DE HIJO DIRECTO: etiqueta1 > etiqueta2 
   (ejemplo: .lista > li) */
.lista > li {
   border: rgb(88, 93, 88);
   margin-bottom: 5px;
   padding: 5px;
}




/* SELECTOR DE HERMANO ADYACENTE: etiqueta1 + etiqueta2 
   (ejemplo: h2 + p) */
   h2+p{
      background-color: yellow;
   }



/* SELECTOR DE HERMANO GENERAL: etiqueta1 ~ etiqueta2 
   (ejemplo: h2 ~ p) */
h2 ~ p {
   padding: 4px;
   background-color: orange;
}


/* SELECTOR DE ATRIBUTO: input[type="text"] */
input[type="text"] {
   border-color: purple;
   background-color: violet;
   margin-bottom: 4px;
}