/* cuando le haces click encima de la etiqueta se pondrá en rojo */
a:link{
    color: red;
    text-decoration:none ;
}
/* Al pasar el ratón por encima de la etiqueta <a> “Open”, se pone verde.*/
a:hover{
    color: green;
}
a:visited{
    color: yellow;
    text-decoration: underline;
}
li:first-child{
    background-color: grey;
}
ul:first-child li:last-child{
background-color: blue;
color: white;
}
